#
# Properties required for XKMS integration tests
#

# Signing provider
signing.provider=be.fedict.eid.pkira.xkmsws.keyinfo.KeyStoreKeyProvider

# Keystore type (P12 / JKS)
signing.keystore.type=pkcs12

# Url to the keystore
signing.keystore.url=file:/...

# Passphrase to unlock the keystore
signing.keystore.password=

# Password to unlock the entry in the keystore
signing.keystore.entry.password=

# Proxy settings
#http.proxyHost=localhost
#http.proxyPort=8008

# URL of the XKMS service
xkms.url=

# URL of the pki ra public service
eidpkira.service.public.url=

# Database parameters for pki ra (used to modify some settings of the application)
eidpkira.jdbc.url=
eidpkira.jdbc.username=
eidpkira.jdbc.password=


# BUCs
buc.server=
buc.client=
buc.code=